@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;








/* Sidebar */
.sidebar {
    width: 250px;
    transition: all 0.3s;
}

.sidebar.collapsed {
    margin-left: -250px;
}

.sidebar .nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s;
}

.sidebar .nav-link:hover {
    background-color: #f0f4f9;
    color: #4e73df;
}

.sidebar .nav-link.active {
    background-color: #e6f0fd;
    color: #4e73df;
    font-weight: 600;
}

.sidebar .sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* Header */
.navbar-brand {
    font-weight: 600;
}

/* Footer */
.footer {
    background-color: #f8f9fa;
}

/* Ajuster la taille des images affichées */
.img-preview {
    max-width: 100%;      /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    height: auto;         /* Garde les proportions de l'image */
}

/* Taille fixe si tu veux limiter la taille de l'image */
.img-preview-fixed {
    width: 200px;        /* Largeur fixe */
    height: 200px;       /* Hauteur fixe */
    object-fit: cover;   /* Couvre l'espace sans déformer l'image */
}
